{% extends '_layouts/base.twig' %}

{% block title %}
	{{ entry.title }} - {{ siteName }}
{% endblock %}

{% block content %}
	<article class="mx-auto max-w-6xl max-w-[220px] px-4 py-8">
		<h1>{{ entry.title }}</h1>
		{% include '_partials/rich-text' with {
			text: entry.body
		} only %}
	</article>
{% endblock %}
