<section id="{{ section.sectionTitle|lower|replace(' ', '-') }}" class="section-max-width my-8">
	<div class="max-w-4xl">
		{% if section.isSubsection %}
			<h3 class="project-section-heading">{{ section.sectionTitle }}</h3>
		{% else %}
			<h2 class="project-section-title">{{ section.sectionTitle }}</h2>
		{% endif %}
		{% include '_partials/project-text' with {
			text: section.introText
		} only %}
		{% if section.isCollapsible %}
			<details
				class="project__details group -mx-8 px-8 pt-3 pb-8 transition-colors duration-200 after:mt-4 after:h-px after:w-full after:bg-current/25 after:content-[''] open:bg-gray-100"
			>
				<summary
					class="text-fs-smaller flex w-fit cursor-pointer items-center font-medium transition-colors duration-200 before:mr-1 before:inline-block before:text-4xl before:font-extralight before:transition-transform before:duration-200 before:ease-in-out before:content-['+'] group-open:before:rotate-45 hover:text-accent hover:before:scale-125"
				>
					<span class="inline-block group-open:hidden">Show&nbsp;</span>
					<span class="hidden group-open:inline-block">Hide&nbsp;</span>
					<span>details</span>
					{# {% if section.introText %}
										<span class="inline-block group-open:hidden">Read &nbsp;</span>
									{% endif %}<span class="hidden group-open:inline-block">Collapse&nbsp;</span>{{ section.summaryText ? : section.sectionTitle }}{% if
										section.introText %}
										&nbsp;<span class="hidden group-open:inline-block">details</span>
									{% endif %} #}
				</summary>
				{% include '_partials/project-text' with {
					text: section.content
				} only %}
			</details>
		{% endif %}
	</div>
</section>
