{% extends '_layouts/base.twig' %}

{% block title %}
	{{ entry.title }} - {{ siteName }}
{% endblock %}

{% block content %}
	{# Intro Section #}
	<section class="section-intro section-max-width" data-reveal-group>
		<div data-reveal-item>
			{% include '_partials/intro-text' with {
				text: entry.introText
			} only %}
		</div>
	</section>
{% endblock %}
