{% extends '_layouts/base.twig' %}

{% block title %}
	{{ entry.title }} - {{ siteName }}
{% endblock %}

{% block content %}
	{# Intro Section #}
	<section class="section-intro section-max-width">
		{% include '_partials/intro-text' with {
			text: entry.introText
		} only %}
	</section>
{% endblock %}
