{# Navigation link macro - DRY styling for nav links #}
{% macro navLink(url, label, currentSegment) %}
	{% set urlPath =
		url
			|replace({
				(siteUrl): ''
			})
			|trim('/', 'left')
			|trim('/')
	%}
	{% set urlSegment = urlPath|split('/')|first %}
	{% set isActive = currentSegment == urlSegment %}
	<a
		href="{{ url }}"
    {% if isActive %}aria-current="page"{% endif %}
		class="hover:border-accent block border-b-4 px-1 py-2 font-light transition-colors duration-300 {{
		isActive
			? 'border-accent'
			: 'border-transparent'
		}} "
	>
		{{ label }}
	</a>
{% endmacro %}

{# Generate srcset attribute for responsive images #}
  {% macro srcSet(image) %}
    {{
      [400, 800, 1200, 1600, 2400]|reduce(
        (carry, v) => "#{carry}, #{image.getUrl("w" ~ v)} #{v}w",
        ""
      )
    }}
  {% endmacro %}