{% extends "_layouts/base.twig" %}

{% block title %}Home -
	{{ siteName }}
{% endblock %}

{% block content %}
	<h1 class="text-4xl font-bold text-red-500 bg-yellow-300 p-8">
		Hello from Craft + Vite + Tailwind!
		{{ entry.title }}
	</h1>
	<p class="mt-4 text-blue-600 text-2xl bg-green-200 p-4">
		If you can see this styled, everything is working.
	</p>
{% endblock %}
