{% import '_macros' as macros %}
<site-nav>
	<header
		data-header
		class="section-max-width mx-auto flex items-center bg-white py-4 [&.menu-open]:fixed [&.menu-open]:inset-0 [&.menu-open]:z-50 [&.menu-open]:flex-col [&.menu-open]:items-start md:[&.menu-open]:relative md:[&.menu-open]:flex-row md:[&.menu-open]:items-center"
	>
		<a href="{{ siteUrl }}" class="text-medium z-10 mr-4 border-b-4 border-transparent text-lg">
			<strong class="font-medium">Nico</strong>
		</a>
		<nav class="">
			{% set currentSegment = craft.app.request.segments|first %}
			<ul class="flex flex-row gap-4">
				<li>{{ macros.navLink(url('projects'), 'Projects', currentSegment) }}</li>
				<li>{{ macros.navLink(url('about'), 'About', currentSegment) }}</li>
				<li>{{ macros.navLink(url('contact'), 'Contact', currentSegment) }}</li>
			</ul>
		</nav>
	</header>
</site-nav>
